.container {
  max-width: 100vw;
  /*padding: 0 1rem;*/
  margin: 3rem auto 6rem;
  color: white;
  font-family: "Source Sans Pro",Helvetica,sans-serif;
}

.header {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
@media only screen and (max-width: 736px) {
  .container{
    font-size: 12px;
  }
  html .container{
    margin: 0;
  }
}
